<div class="col-md-4">

    <h2>Sign in</h2>

    <%= form_for(:session, data: {turbo: false}) do |f| %>
        
        <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, required: true %>
        </div>

        <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
            <%= f.submit "Log in" %>
        </div>

        <%= link_to "Signup", signup_path %>

    <% end %>
</div>